{% extends 'layouts/base.html' %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <div class="card border-dark">
                <div class="card-header text-center py-3 fw-bold">ACTUALIZACIÓN DE USUARIOS</div>

                {{error}}

                <form method="post" class="card-body">
                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <span class="input-group-text">ID</span>
                        <input type="text" id="usuario_id" class="form-control" value="{{usuario.id}}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre</span>
                        <input type="text" id="nombre" name="nombre" class="form-control" value="{{usuario.first_name}}"
                            required>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Apellido</span>
                        <input type="text" id="apellido" name="apellido" class="form-control"
                            value="{{usuario.last_name}}" required>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Usuario</span>
                        <input type="text" id="username" name="username" class="form-control"
                            value="{{usuario.username}}" required>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Correo</span>
                        <input type="email" id="correo" name="correo" class="form-control" value="{{usuario.email}}"
                            required>
                    </div>

                    <button class="btn btn-outline-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}